body {
    background-color: black;
}

@media (min-width: 992px) {
    .container-fluid {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
}

h1 {
    text-align: center;
    height: 40vh;
    padding-bottom: 60px;
    font-size: 80px;
    color: #E5B52A;
    font-family: Rusilla serif;
}

b    {
    color: #E5B52A;
    font-size: 18px;
}

p {
    color: white;
}

.partner-logo {
    padding: 20px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-logo img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}